body{
   color: #333333;
   font-family: arial;
   max-width: 650px;
   margin: 0 auto;
   padding: 0 16px;
   
   display: flex;
   flex-direction: column;
   min-height: 100vh;

}

.main-content{
    flex-grow: 1;
}
p{
    text-align:center;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0px;
}

header{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 16px;
}

header a{
    color:#888888;
    margin-right: 16px;
    text-decoration: none;

}

.portrait {
    width:250px;
}

input{
    border: 1px solid #cccccc;
    margin-left: 77px;
    margin-top: 50px;
    width: 50%;
    padding:8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background : #888888;
    color: white;
    margin-left: 135px ;
    margin-top: 40px;
    padding: 8px;

}

form div{
    margin: auto;
    width:50%;
    padding: 5px;
}

